<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="readMsbAccountMapper">			
	
	<select id="readMsbAccount">
		select * from msb_account where username = #{username};
	</select>
 
	<select id="readMsbAccountMsbAuthorities">
        select * from msb_authorities where username = #{username};
	</select>
   
	<select id="readMsbAccountMsbPersistentLogins">
        select * from msb_persistent_logins where username = #{username};
	</select>
   
	<select id="readMsbAccountMsbSubscriber">
        select * from msb_subscriber where account in (select account from msb_account where username = #{username});
	</select>
  
</mapper>
