<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeMsbMucserviceMapper">			
	
	<update id="writeMsbMucservice">
		update msb_mucservice set serviceID = #{serviceid},
		domain = #{domain},
		subdomain = #{subdomain},
		description = #{description},
		isHidden = #{ishidden} where serviceID = #{serviceid};
	</update>

</mapper>
