<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeMsbMucservicepropMapper">			
	
	<update id="writeMsbMucserviceprop">
		update msb_mucserviceprop set serviceID = #{serviceid},
		name = #{name},
		propValue = #{propvalue} where serviceID = #{serviceid};
	</update>

</mapper>
