<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newMsbPubsubaffiliationMapper">			
	
	<insert id="newMsbPubsubaffiliation">
		insert into msb_pubsubaffiliation(serviceID,nodeID,jid,affiliation) 
		values (#{serviceid},#{nodeid},#{jid},#{affiliation});
	</insert>

</mapper>
