<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeMsbPubsubnodegroupsMapper">			
	
	<update id="writeMsbPubsubnodegroups">
		update msb_pubsubnodegroups set serviceID = #{serviceid},
		nodeID = #{nodeid},
		rosterGroup = #{rostergroup} where serviceID = #{serviceid};
	</update>

</mapper>
