<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeMsbRevenueMapper">			
	
	<update id="writeMsbRevenue">
		update msb_revenue set subscriber = #{subscriber},
		account = #{account},
		from = #{from},
		to = #{to},
		debit = #{debit},
		credit = #{credit},
		description = #{description},
		activity = #{activity},
		dateTime = #{datetime},
		status = #{status} where subscriber = #{subscriber};
	</update>

</mapper>
