<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchMsbSubscribertypeMapper">			
	
	<select id="countMsbSubscribertypeSearch">
		select count(*) from msb_subscribertype
		<trim prefix="where" prefixOverrides="and">
			<if test="subtype!=null">
				and subtype like #{subtype}
			</if>
			<if test="description!=null">
				and description like #{description}
			</if>
		</where>		
	</select>

	<select id="searchMsbSubscribertype">
		select subtype,
                description,
                'x' from msb_subscribertype  
		<trim prefix="where" prefixOverrides="and">
			<if test="subtype!=null">
				subtype like #{subtype}
			</if>
			<if test="description!=null">
				description like #{description}
			</if>
		</where> limit 100 offset ${rowid}
	</select>

</mapper>
