<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="writeMsbTrafficMapper">			
	
	<update id="writeMsbTraffic">
		update msb_traffic set subscriber = #{subscriber},
		account = #{account},
		from = #{from},
		to = #{to},
		counter = #{counter},
		type = #{type},
		last_update = #{lastUpdate},
		status = #{status} where subscriber = #{subscriber};
	</update>

</mapper>
